.contact-form {
    max-width: 600px;
    margin: 5px;
    padding: 30px;
    /* background-color: #f9f9f9; */
    /* border-radius: 8px; */
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
  
  .contact-form h5 {
    text-align: center;
    margin-bottom: 5px;
    color: #3ca2a6;
    font-size: 20px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 8px;
    margin-top: 8px;
    color: #3ca2a6;
    font-weight: 600;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    display: inline-flex;
    padding: 10px 12px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    transition: border-color 0.3s;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    border-color: #3498db;
    outline: none;
  }
  
  .contact-form button {
    display: block;
    width: 40%;
    padding: 12px;
    margin-top: 24px;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #2980b9;
  }